<div class="row" style="margin-bottom: 20px;">
  <div class="col-md-11 text-right">
    <h4 style="margin-top: 0"><%= response.user.email %> | <small><%= response.created_at %></small></h4>
    <p><%= response.message %></p>
  </div>
  <div class="col-md-1">
    <img src="https://openclipart.org/image/2400px/svg_to_png/177482/ProfilePlaceholderSuit.png" width="32" height="32">
  </div>
</div>