<% form_remote_tag :action => :create do %>
<div class="modal fade" tabindex="-1" role="dialog" id="createTicketModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Create Ticket</h4>
      </div>
      <div class="modal-body">
        <input type="hidden" name="ticket[:sample_attr]" value="I should able to get this attr.">
        <input type="hidden" name="ticket[user_id]" value="<%= current_user.id %>">
        <div class="form-group"><label for="title">Title</label>
          <input type="text" class="form-control" id="title" placeholder="Issue Title" name="ticket[title]">
        </div>
        <div class="form-group">
          <label for="title">Description</label>
          <textarea class="form-control mceEditor" name="ticket[description]">
          </textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary" onclick="tinyMCE.triggerSave()">Submit</button>
      </div>
    </div>
  </div>
</div>
<% end %>