<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <td>Issue</td>
    <td>Description</td>
    <td>Create Date</td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <% tickets.each do |ticket| %>
      <% if ticket.status == status %>
          <tr>
            <td><%= ticket.title %></td>
            <td><%= truncate(ticket.description, :length => 150, :separator => '...') %></td>
            <td><%= ticket.created_at %></td>
            <td style="width: 120px">
              <%= link_to 'View', dashboard_path(ticket.id), :class => 'btn btn-xs btn-success' %>
              <%= link_to 'Delete', dashboard_path(ticket.id), :method => :delete, :class => 'btn btn-xs btn-danger' %>
            </td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>