<tr>
  <td><%= ticket.title %></td>
  <td><%= truncate(ticket.description, :length => 150, :separator => '...') %></td>
  <td><%= ticket.created_at %></td>
  <td style="width: 120px">
    <%= link_to 'View', "/dashboard/#{ticket.id}", :class => 'btn btn-xs btn-success' %>
    <%= link_to 'Delete', "/dashboard/#{ticket.id}", :method => :delete, :class => 'btn btn-xs btn-danger' %>
  </td>
</tr>