<div>
    <% if current_user.customer? %>
      <button class="btn btn-info pull-right" data-toggle="modal" data-target="#createTicketModal">Create Ticket</button>
    <% end %>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#open" aria-controls="open" role="tab" data-toggle="tab"><%= current_user.agent? ? 'Pool' : 'Open' %></a></li>
        <li role="presentation"><a href="#inprogress" aria-controls="inprogress" role="tab" data-toggle="tab">In Progress</a></li>
        <li role="presentation"><a href="#resolved" aria-controls="resolved" role="tab" data-toggle="tab">Resolved/Closed</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="open">
          <%= render 'ticket_table', :tickets => current_user.agent? ? @pool : @tickets, :status => 1 %>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="inprogress">
          <%= render 'ticket_table', :tickets => @tickets, :status => 2 %>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="resolved">
          <%= render 'ticket_table', :tickets => @tickets, :status => 3 %>
        </div>
    </div>
    <%= render 'modal' %>
</div>