<div class="row">
  <div class="col-md-7">
    <h1><%= @ticket.title.titleize %></h1>
    <p>
      <%= @ticket.created_at %> |
      <% if @ticket.user.present? %>
      client: <%= @ticket.user.email %> |
      <% end %>
      <% if @ticket.agent.present? %>
      agent: <%= @ticket.agent.email %> |
      <% end %>
      <span class="label label-<%= @ticket.status == 1 ? 'default' : @ticket.status == 2 ? 'info' : @ticket.status == 3 ? 'success' : '' %>"><%= @ticket.status == 1 ? 'Open' : @ticket.status == 2 ? 'In Progress' : @ticket.status == 3 ? 'Resolved/Closed' : '' %></span>
    </p>
    <p>
      <%= @ticket.description %>
    </p>
  </div>
  <div class="col-md-5" style="margin-top: 25px">
    <% unless current_user.customer? %>
    <div class="row" style="margin-bottom: 20px">
      <% form_tag :action => :set_status do %>
        <input type="hidden" name="ticket[id]" value="<%= @ticket.id %>">
        <div class="col-md-8 col-md-offset-1">
          <select class="form-control" name="ticket[status]">
            <option value="1" <%= @ticket.status == 1 ? 'selected' : '' %>>Open</option>
            <option value="2" <%= @ticket.status == 2 ? 'selected' : '' %>>In Progress</option>
            <option value="3" <%= @ticket.status == 3 ? 'selected' : '' %>>Resolve/Close</option>
          </select>
        </div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-info">Save</button>
        </div>
      <% end %>
    </div>
    <% end %>
    <% @pages.each do |response| %>
      <% if response.user.agent? %>
        <%= render 'agent_response', :response => response %>
      <% else %>
        <%= render 'client_response', :response => response %>
      <% end %>
    <% end %>
    <div class="row" style="margin-top: 20px; margin-bottom: 20px">
      <div class="col-md-6 text-left">
        <%= link_to('Prev', dashboard_path(:id => @ticket.id, :page => @pages.prev.number)) if @pages.prev? %>
      </div>
      <div class="col-md-6 text-right">
        <%= link_to('Next', dashboard_path(:id => @ticket.id, :page => @pages.next.number)) if @pages.next? %>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <% form_tag :action => :create_response do %>
      <input type="hidden" name="response[user_id]" value="<%= current_user.id %>">
      <input type="hidden" name="response[ticket_id]" value="<%= @ticket.id %>">
      <div class="col-md-9 col-md-offset-1">
        <textarea class="form-control" name="response[message]"></textarea>
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-info">Send</button>
      </div>
      <% end %>
    </div>
  </div>
</div>