<h4>This is a sample code project to be able for us to make assumptions in upgrading Rails 2 to the latest version.</h4>
<h1>Support Ticketing App</h1>

<p>
  User Roles

  <ul class="nav">
    <li>Admin</li>
    <li>Customer</li>
    <li>Agent</li>
  </ul>
</p>