<!DOCTYPE>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application' %>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Support</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="<%= params[:controller] == 'application' && params[:action] == 'index' ? 'active' : '' %>"><%= link_to 'Home', root_path %></li>
            <li class="<%= params[:controller] == 'dashboard' && params[:action] == 'index' ? 'active' : '' %>"><%= link_to 'Dashboard', dashboard_index_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li role="separator" class="divider"></li>
                <% if user_signed_in? %><li><%= link_to 'Logout', destroy_user_session_path %></li><% end %>
                <% if !user_signed_in? %><li><%= link_to 'Login', new_user_session_path %></li><% end %>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <p class="notice"><%= flash[:notice] %></p>
    <% if flash[:error].present? %>
    <div class="alert alert-danger">
      <ul class="nav">
        <% flash[:error].each do |err| %>
          <li><%= err[1].titleize %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <%= yield %>
  </div>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag :defaults %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <%= javascript_include_tiny_mce_if_used %>
  <%= tiny_mce if using_tiny_mce? %>
</body>
</html>